{{ define "main" }}
    <div class="uk-section bg">
        <div class="uk-container">
            <div class="uk-section">
                <div class="uk-container uk-container-large uk-light">
                    <div class="uk-child-width-1-2@s uk-grid-large" uk-grid>
                        <div>
                            <h2 class="uk-heading-medium">Verification</h2>
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636425937/melanie-tran/IMG-1790.jpg" alt="">
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, deserunt. Voluptate cupiditate eum iure, natus aspernatur quisquam perspiciatis dignissimos quis.</p>
                            <h2>How to get in touch</h2>
                            <ul class="uk-list uk-list-hyphen">
                                <li>Message us on Telegram</li>
                                <li>Verify more information</li>
                                <li>Send live verification video</li>
                                <li>Message us on Telegram</li>
                                <li>State the date, time, and saying "All The Smoke" must be included in the verification video</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}