{{ define "main" }}
    <div class="uk-section bg">
        <div class="uk-container">
            <div class="uk-section">
                <div class="uk-container uk-container-large uk-light" uk-scrollspy="cls:uk-animation-slide-bottom-medium">
                    <div class="uk-child-width-1-2@s uk-grid-large" uk-grid>
                        <div>
                            <h2 class="uk-heading-medium">Verification Process</h2>
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636425937/melanie-tran/IMG-1790.jpg" alt="">
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, deserunt. Voluptate cupiditate eum iure, natus aspernatur quisquam perspiciatis dignissimos quis.</p>
                            <h2>HOW TO GET IN TOUCH</h2>
                            <ul class="uk-list uk-list-hyphen">
                                <li><a href="https://t.me/verifiedmspackmanla" target="_blank">Subscribe to the telegram to check out our menu</a></li>
                                <li><a href="https://t.me/mspackmanlalive" target="_blank">Subscribe to the telegram to check out our live updates</a></li>
                                <li><a href="https://t.me/mspackmanlaverification" target="_blank">Verify first on telegram by direct message</a></li>
                                <li>Get my direct line </li>
                                <li>Order online or schedule an appointment to come shop in town </li>
                            </ul>
                            <a href="/contact" class="uk-button uk-button-primary">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}