/* TYPOGRAPHY */

@font-face {
    font-family: Louis;
    src: url("/assets/Louis-George-Cafe.ttf");
  }

  @font-face {
    font-family: hoefler;
    src: url("/assets/hoefler-text.ttf");
  }

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .uk-h1,
body .uk-h2, 
body .uk-h3, 
body .uk-h4, 
body .uk-h5, 
body .uk-h6, 
body .uk-heading-2xlarge, 
body .uk-heading-large, 
body .uk-heading-medium, 
body .uk-heading-small, 
body .uk-heading-xlarge {
    font-family: hoefler;
}

body {
    font-family: Louis;
    color: #535556;
    font-size: 15px;
    line-height: 35px;
	background: #EEEEEE;
}

body a:hover:not(.uk-button) {
    color: #bf0038!important;
    transition: .2s;
}

body a {
    transition: .2s;
}

h2.uk-heading-line>::after {
	border-bottom: calc(.2px + .02em) solid #e5e5e5;
}

div.uk-overlay-primary {
    background: rgb(25 25 25 / 62%);
}

html body {
    font-size: 16px;
}

.bg {
    background-image: url("https://res.cloudinary.com/hungryram19/image/upload/v1636418305/melanie-tran/background.jpg");
}


div.uk-card-default {
    background: #cacaca;
}

.hr-underline {
    text-decoration: underline;
}

.hr__links li {
    border-top: 1px solid rgb(184, 184, 184);
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.hr-border-bottom {
    border-bottom: 2px solid white;
}

.main__content a {
    color: #2689D6;
    text-decoration: underline;
}

.main__content a:hover {
    color: inherit;
}

ul.uk-breadcrumb>*>* {
    color: #fff;
}

ul.uk-breadcrumb li:last-child a {
    font-weight: 700;
    text-decoration: underline;
}

ul.uk-breadcrumb>*>:focus,
ul.uk-breadcrumb>*>:hover {
    color: #fff;
}

a.uk-accordion-title {
    font-family: 'PT Serif', serif;
    font-weight: 600;
    font-size: 1rem;
}


h1.h1-title {
    color:#fff;
}

a.uk-button-secondary,
button.uk-button-secondary {
    background: transparent;
    padding: 4px 39px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    outline: none;
    border: 1px solid white;
}

/* FORMS */

input.uk-input,
textarea.uk-textarea {
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
}

input.uk-input::placeholder,
textarea.uk-textarea::placeholder {
    color: #fff;
}

.uk-text-medium {
    font-weight: 500;
}

.accent {
    color: #2689D6;
}

.uk-white {
    color: #fff!important;
}

button.uk-button-primary,
a.uk-button-primary {
    background: #2689D6;
    padding: 5px 40px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    outline: none;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    width: 100%;
}

.slide_right:hover {
    box-shadow: inset 200px 0 0 0 #19202A;
}

body .uk-button-primary.uk-active, body .uk-button-primary:active,
body .uk-button-primary:focus, body .uk-button-primary:hover {
    background-color: #2689D6;
    color: #fff;
}

@media screen and (max-width: 800px) {
    div.page__banner {
        background: #DBDBDB!important;
    }

    h1.h1-title,
    ul.uk-breadcrumb>*>* {
        color:#19202A;
    }
}

@media screen and (min-width:800px) {
    div.page__banner .page__slider {
        content: '';
        background: #2689D6;
        position: absolute;
        width: 45%;
        height: 100%;
        top: 0;
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: skew(
    -45deg
    );
        -ms-transform: skew(-45deg);
        transform: skew(
    -45deg
    );
    }
}

div.page__banner__inner {
    position: relative;
    z-index: 1;
}

/* NAVBAR */

.uk-light ul.uk-navbar-nav>li>a {
    transition: .3s;
    color: #fff;
}

.uk-light ul.uk-navbar-nav>li>a:hover {
    color: #bf0038;
    transition: .3s;
}

.uk-sticky.uk-sticky-fixed.undefined.uk-sticky-below {
    background: black;
    transition: .4s;
}

ul.uk-navbar-item, ul.uk-navbar-nav>li>a, .uk-navbar-toggle {
	min-height: 40px;
}

ul.uk-light .uk-button-text::before {
	border-bottom-color: #bf0038;
}

div.top-navbar .uk-navbar-nav>li>a {
    min-height: 40px;
    text-transform: unset;
}

div .uk-navbar-container>.uk-container .uk-navbar-left {
    margin-left: 0;
}

div.uk-navbar-dropdown {
    padding: 0;
}

div.uk-navbar-dropdown ul li {
    padding: 5px 10px;
}

div.uk-navbar-dropdown ul li:hover {
    background: #000;
    transition: .3s;
    color: #fff;
}

div.uk-navbar-dropdown ul li:hover a {
    color: #fff;
    transition: .3s;
    padding-left: 5px;
}

div.uk-navbar-dropdown ul li {
    transition: .3s;
}

[class*=uk-navbar-dropdown-bottom]{
    margin-top: 0!important;
}

/* body svg {
    color: #C3002F;
} */

ul.uk-navbar-nav>li>a:not(.top-navbar a) {
    font-family: Louis;
    font-weight: 500;
    transition: .1s;
}

ul.uk-nav-parent-icon>.uk-parent>a::after {
    transform: rotate(
        -90deg
        );
    position: absolute;
}

.mobile__wrapper ul li a {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #eee;
    transition: .3s;
}

div.uk-modal-dialog {
    background: #000;
}

/* HERO */

div.uk-overlay-hero {
    background:rgb(9 10 21 / 20%);
}


/* FEATURED SECTION */

.uk-section.uk-section-small.featured__section {
    margin-top: -150px;
}

.featured__section .uk-card-default,
.service__box .uk-card-default {
    box-shadow: none;
    transition: .3s ease;
    border: 1px solid #eee;
}

.featured__section .uk-card-default:hover,
.service__box .uk-card-default:hover {
    background: #2689D6;
    color: #fff;
    transition: .3s ease;
    border: 1px solid #2689D6;
}

.featured__section .uk-card-default:hover h3,
.featured__section .uk-card-default:hover svg,
.featured__section .uk-card-default:hover a.accent,
.service__box .uk-card-default:hover h3,
.service__box .uk-card-default:hover a.accent,
.service__box .uk-card-default:hover svg {
    color: #fff;
    transition: .3s ease;
    fill: #fff;
}

.service__box .uk-card-default:hover a.accent,
.featured__section .uk-card-default:hover a.accent {
    text-decoration: underline;
}

.featured__section .uk-card-default h3,
.featured__section .uk-card-default a {
    transition: .3s ease;
}

.featured__section .uk-card-default .svg__icons svg,
.service__box .uk-card-default .svg__icons svg {
    width: 50px;
}


/* NUMBER COUNTER */

.number__counter p:nth-child(2) {
    color: #a5a5a5;
}

/* CONTACT */

.contact__icons a {
    transition: .3s;
    color: #222;
}

.contact__icons a:hover {
    color: #2689D6;
    transition: .3s;
}

/* SINGLE SERVICE PAGE */

div.box-top {
    position: absolute;
    background: #2689D6;
    width: 200px;
    left: -50px;
    z-index: -1;
    bottom: 30px;
    top: 30px;
}

/* FAQ */

div.uk-card-secondary {
    background: #f3f3f3;
    box-shadow: none;
    transition: .3s;
}

div.uk-card-secondary.uk-card-hover:hover {
    background: #f3f3f3;
    color: inherit;
    box-shadow: none;
}

.faq__page .uk-card-body {
    padding: 20px;
}

.faq__page .uk-card-body h3 {
    font-size: 1rem;
    border-left: 4px solid #2689D6;
    padding-left: 10px;
}

ul.service__list__faq li a:hover {
    color: #2689D6;
    transition: .3s;
}

/* FOOTER */

footer.footer {
    background: #000;
}

footer.footer h6,
footer.footer a {
    color: #fff;
}

div.footer-credit p,
div.footer-credit ul li a {
    font-size: 12px;
}

.contact-detail span.uk-icon-button {
    background: #2689D6;
}

.contact-detail svg {
    color: #fff;
}

.contact-detail a {
    color: #000;
}

.service__list {
    columns: 2;
}

.footer-credit ul li {
    list-style: none;
}

footer.footer svg {
    transition: .3s;
}

footer.footer svg:hover {
    color: #2689D6;
    transition: .3s;
}

@media screen and (max-width:768px) {
    footer.footer .service__list {
        columns: 2;
    }
}


.apparel__slide li:hover,
.shop__strains li:hover,
.shop__strains div:hover,
.shop__apparel div:hover {
	opacity: .5;
	transition: .3s;
}

.apparel__slide li,
.shop__strains li,
.shop__strains div,
.shop__apparel div {
	transition: .3s;
}



.glitch {
    color: white;
    width: 40rem;
    position: relative;
  }

  .glitch::after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0.5rem;
    color: black;
    overflow: hidden;
    text-shadow: -0.5rem 0 #df235e;
    clip: rect(0, 90rem, 0, 0);
    animation: noise 3s infinite linear alternate-reverse;
  }
  .glitch::before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -1rem;
    color: white;
    overflow: hidden;
    text-shadow: 0.3rem 0 #df235e;
    clip: rect(0, 90rem, 0, 0);
    animation: noise 3s infinite linear alternate-reverse;
  }

  @media screen and (max-width: 800px) {
    .glitch::after,
    .glitch::before {
      font-size: 4rem;
    }
  }
  
  @-webkit-keyframes noise {
    0% {
      clip: rect(12rem, 99.99rem, 4rem, 0);
    }
    4% {
      clip: rect(10rem, 99.99rem, 6rem, 0);
    }
    8% {
      clip: rect(6rem, 99.99rem, 12rem, 0);
    }
    12% {
      clip: rect(12rem, 99.99rem, 12rem, 0);
    }
    16% {
      clip: rect(2rem, 99.99rem, 12rem, 0);
    }
    20% {
      clip: rect(3rem, 99.99rem, 10rem, 0);
    }
    24% {
      clip: rect(6rem, 99.99rem, 10rem, 0);
    }
    28% {
      clip: rect(5rem, 99.99rem, 6rem, 0);
    }
    32% {
      clip: rect(5rem, 99.99rem, 11rem, 0);
    }
    36% {
      clip: rect(9rem, 99.99rem, 4rem, 0);
    }
    40% {
      clip: rect(8rem, 99.99rem, 10rem, 0);
    }
    44% {
      clip: rect(4rem, 99.99rem, 1rem, 0);
    }
    48% {
      clip: rect(6rem, 99.99rem, 7rem, 0);
    }
    52% {
      clip: rect(10rem, 99.99rem, 3rem, 0);
    }
    56% {
      clip: rect(3rem, 99.99rem, 9rem, 0);
    }
    60% {
      clip: rect(9rem, 99.99rem, 4rem, 0);
    }
    64% {
      clip: rect(11rem, 99.99rem, 1rem, 0);
    }
    68% {
      clip: rect(6rem, 99.99rem, 4rem, 0);
    }
    72% {
      clip: rect(5rem, 99.99rem, 4rem, 0);
    }
    76% {
      clip: rect(8rem, 99.99rem, 4rem, 0);
    }
    80% {
      clip: rect(12rem, 99.99rem, 12rem, 0);
    }
    84% {
      clip: rect(12rem, 99.99rem, 3rem, 0);
    }
    88% {
      clip: rect(12rem, 99.99rem, 12rem, 0);
    }
    92% {
      clip: rect(8rem, 99.99rem, 2rem, 0);
    }
    96% {
      clip: rect(8rem, 99.99rem, 11rem, 0);
    }
    100% {
      clip: rect(9rem, 99.99rem, 2rem, 0);
    }
  }
  
  @keyframes noise {
    0% {
      clip: rect(12rem, 99.99rem, 4rem, 0);
    }
    4% {
      clip: rect(10rem, 99.99rem, 6rem, 0);
    }
    8% {
      clip: rect(6rem, 99.99rem, 12rem, 0);
    }
    12% {
      clip: rect(12rem, 99.99rem, 12rem, 0);
    }
    16% {
      clip: rect(2rem, 99.99rem, 12rem, 0);
    }
    20% {
      clip: rect(3rem, 99.99rem, 10rem, 0);
    }
    24% {
      clip: rect(6rem, 99.99rem, 10rem, 0);
    }
    28% {
      clip: rect(5rem, 99.99rem, 6rem, 0);
    }
    32% {
      clip: rect(5rem, 99.99rem, 11rem, 0);
    }
    36% {
      clip: rect(9rem, 99.99rem, 4rem, 0);
    }
    40% {
      clip: rect(8rem, 99.99rem, 10rem, 0);
    }
    44% {
      clip: rect(4rem, 99.99rem, 1rem, 0);
    }
    48% {
      clip: rect(6rem, 99.99rem, 7rem, 0);
    }
    52% {
      clip: rect(10rem, 99.99rem, 3rem, 0);
    }
    56% {
      clip: rect(3rem, 99.99rem, 9rem, 0);
    }
    60% {
      clip: rect(9rem, 99.99rem, 4rem, 0);
    }
    64% {
      clip: rect(11rem, 99.99rem, 1rem, 0);
    }
    68% {
      clip: rect(6rem, 99.99rem, 4rem, 0);
    }
    72% {
      clip: rect(5rem, 99.99rem, 4rem, 0);
    }
    76% {
      clip: rect(8rem, 99.99rem, 4rem, 0);
    }
    80% {
      clip: rect(12rem, 99.99rem, 12rem, 0);
    }
    84% {
      clip: rect(12rem, 99.99rem, 3rem, 0);
    }
    88% {
      clip: rect(12rem, 99.99rem, 12rem, 0);
    }
    92% {
      clip: rect(8rem, 99.99rem, 2rem, 0);
    }
    96% {
      clip: rect(8rem, 99.99rem, 11rem, 0);
    }
    100% {
      clip: rect(9rem, 99.99rem, 2rem, 0);
    }
  }