<div class="uk-navbar uk-navbar-transparent uk-navbar-container uk-padding-small">
    <div class="uk-navbar-left">
        <img src="{{ .Site.Data.appearance.branding.logo }}" alt="" width="200">
    </div>
    <div class="uk-navbar-right">
        <svg width="20" fill="#ffffff" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="50" height="2"></rect><rect y="3" width="50" height="2"></rect><rect y="15" width="50" height="2"></rect></svg>

    </div>
</div>