{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
{{ $headerSocial := .Site.Data.profile.social_media }}

<!-- mobile -->
<div uk-sticky="animation: uk-animation-slide-top-medium; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: top: 400">
    <nav class="uk-navbar uk-navbar-container uk-navbar-transparent uk-padding">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }}" width="140">
            </a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-margin-medium-left uk-light">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li>
                    <a href="#">{{ .Name }}<span class="uk-margin-small-left" uk-icon="chevron-down"></span></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {{ range .Children }}
                            <li class="uk-active"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </li>
                {{ else }}
                <li><a href="{{ .URL | absURL }}" class="uk-button uk-button-text">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </nav>
</div>

<div id="modal-full" class="uk-modal-full uk-modal mobile__wrapper" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>

        <ul class="uk-nav-default uk-nav-parent-icon uk-margin-auto-vertical uk-text-center" uk-nav uk-scrollspy="cls: uk-animation-slide-bottom; target: .animate; delay: 300; repeat: true">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="uk-parent animate">
                <a href="#" class="uk-text-light">{{ .Name }}</a>
                <ul class="uk-nav-sub">
                    {{ range .Children }}
                    <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li class="animate"><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}

        </ul>
    </div>
</div>