{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
{{ $headerSocial := .Site.Data.profile.social_media }}

<!-- mobile -->
<div uk-sticky="animation: uk-animation-slide-top-medium; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-dark; cls-inactive: top: 400">
    <nav class="uk-navbar uk-navbar-container uk-navbar-transparent uk-padding">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }}" width="140">
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" href="#modal-full" uk-toggle>
                <svg width="20" fill="#ffffff" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="50" height="2"></rect><rect y="3" width="50" height="2"></rect><rect y="15" width="50" height="2"></rect></svg>
            </a>
        </div>
    </nav>
</div>

<div id="modal-full" class="uk-modal-full uk-modal mobile__wrapper" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>

        <ul class="uk-nav-default uk-nav-parent-icon uk-margin-auto-vertical uk-text-center" uk-nav uk-scrollspy="cls: uk-animation-slide-bottom; target: .animate; delay: 300; repeat: true">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="uk-parent animate">
                <a href="#" class="uk-text-light">{{ .Name }}</a>
                <ul class="uk-nav-sub">
                    {{ range .Children }}
                    <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li class="animate"><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}

        </ul>
    </div>
</div>