<!-- <div class="uk-section" style="margin-bottom: -300px;">
    <div class="uk-container uk-container-large">
        <div class="uk-card uk-card-default uk-dark" style="background:#eee;">
            <div class="uk-cover-container uk-height-large">
                <div class="uk-overlay uk-position-center uk-text-center">
                    <h2 class="uk-heading-medium">Lorem, ipsum dolor sit amet consectetur</h2>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore nulla laborum laboriosam unde iusto est a quod sit, corrupti mollitia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="uk-section uk-section-xlarge" style="background: url(https://res.cloudinary.com/hungryram19/image/upload/v1638204638/melanie-tran/weed-background.jpg) no-repeat center;background-size:cover;padding-bottom:200px">
</div>
<div class="bg uk-section uk-section-large">
    {{ partial "home/shop" . }}
</div>