<div class="uk-section main-bg">
    <div class="uk-padding">
        <div class="uk-text-center">
            <h2 class="uk-white uk-text-uppercase uk-text-italic" style="font-size: 4rem;">The Process</h2>
        </div>
    </div>
    <div class="uk-container uk-container-large">
        <div class="uk-grid uk-child-width-1-3@s uk-grid-large">
            <div class="uk-margin-large-top" uk-parallax="y: -200; easing: 1">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636425937/melanie-tran/IMG-1790.jpg" alt="">
            </div>
            <div class="uk-margin-medium-top" uk-parallax="y: -200; easing: 0.5">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636425937/melanie-tran/IMG-1791.jpg" alt="">
            </div>
            <div uk-parallax="y: -200; easing: 0">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636425937/melanie-tran/IMG-1792.jpg" alt="">
            </div>
        </div>
    </div>
</div>