<style>
    .black-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://www.topmarqmedia.com/uploads/bgpattern.png);
    }
</style>
<div class="uk-cover-container uk-flex uk-flex-middle uk-flex-center" uk-height-viewport>
    <div class="uk-position-top" style="z-index: 1;">
    </div>
    <video src="https://res.cloudinary.com/hungryram19/video/upload/v1633766178/melanie-tran/IMG_4219.mp4" autoplay loop muted playsinline uk-cover></video>
    <div class="black-overlay"></div>
</div>