
    <div uk-img
    class="uk-section uk-section-large uk-flex uk-flex-middle"
    uk-parallax="bgy: 200" uk-height-viewport="offset-top: true;"
    style="min-height: calc(100vh); background: url(https://res.cloudinary.com/hungryram19/image/upload/v1638170550/melanie-tran/smoked.jpg) no-repeat center; background-size:cover">



    <div class="uk-width-1-1">
        <div class="uk-container uk-container-large">
            <div class="tm-grid-expand uk-child-width-1-1 uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                <div class="uk-grid-item-match uk-width-1-1@m uk-first-column">
                    <div class="uk-flex">
                        <div class="uk-tile uk-width-1-1 uk-background-norepeat uk-background-center-center"
                            data-src="/demo/vision/images/home-hero-texture.svg" uk-img>
                            <h2 class="uk-heading-xlarge uk-text-left uk-white"
                                uk-parallax="y: 0,60; opacity: 1,0;"
                                >All The <br>Smoke</h2>
                        <div class="uk-width-large uk-light">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio distinctio dolorem optio error voluptatem temporibus iure quasi corrupti deserunt quos?</p>
                            <a href="/contact" class="uk-button uk-button-text uk-white uk-text-large">Contact</a>
                        </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>


</div>