<style>
    .hero__container .hero-text {
        position:relative;
        z-index: -1;
    }

    @media screen and (max-width: 768px) {
        .bg-logo {
            bottom: 60px;
        }
    }

    .hero__container:after {
        background: #101417;
        content: '';
        height: 100vh;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -2;
    }
</style>
<div class="hero__bg"
	uk-height-viewport
	style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1636852754/melanie-tran/smoke3.png) center;background-size:cover;position;relative;z-index:5;background-repeat:no-repeat"
    >
    <div class="uk-container uk-container-large">
        <div class="uk-width-1-1">
            <div class="uk-container uk-container-xlarge hero__container">
                <div class="hero-text uk-visible@m uk-position-center-left uk-width-2xlarge uk-light" style="margin-left: 10%;">
                    <h1 class="uk-light">ALL THE <span>SMOKE</span></h1>
                    <p style="color:#737373">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, labore voluptatibus. Libero qui debitis obcaecati blanditiis.</p>
                    <a href="" class="uk-link-text uk-text-uppercase"> &mdash; Shop now</a>
                </div>
                <div class="uk-position-center uk-light uk-hidden@m uk-padding uk-margin-large-top">
                    <div class="hero-text">
                        <h1>ALL THE SMOKE</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, labore voluptatibus. Libero qui debitis obcaecati blanditiis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>


<!-- <div class="hero__container" style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1636852754/melanie-tran/smoke3.png) center;background-size:cover;position;relative;z-index:5;background-repeat:no-repeat" uk-height-viewport>
    <div class="uk-position-center-left uk-visible@m" style="margin-left: 8%">
        <div class="uk-container uk-container-large">
            <div>
                <div class="uk-width-2xlarge hero__content">
                    <h1 class="uk-light">ALL THE <span>SMOKE</span></h1>
                    <div class="uk-width-xlarge uk-margin-medium">
                        <p style="color:#737373">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, labore voluptatibus. Libero qui debitis obcaecati blanditiis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-position-center uk-light uk-hidden@m uk-padding uk-margin-large-top">
        <div>
            <h1>ALL THE SMOKE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, labore voluptatibus. Libero qui debitis obcaecati blanditiis.</p>
        </div>
    </div>
</div> -->

