<div class="uk-background-cover uk-flex uk-flex-middle" style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1634317824/melanie-tran/blue-background.jpg) no-repeat center;background-size:cover" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container uk-container-large" style="position:relative">
            <div class="uk-grid uk-flex uk-flex-middle" uk-height-viewport>
                <div class="uk-width-1-2">
                    <div class="hero-text">
                        <h1 class="uk-light">ALL THE <span>SMOKE</span></h1>
                        <p style="color:#737373">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, labore voluptatibus. Libero qui debitis obcaecati blanditiis.</p>
                    </div>
                </div>
                <div class="uk-width-1-2">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1634326794/melanie-tran/red-hoodie.png" alt="" style="position:absolute;bottom:0;right:0;margin: 0 auto; width:80%">
                </div>
            </div>

        </div>
        <div class="uk-position-bottom uk-padding">
            <div class="uk-white">
                <ul class="uk-list">
                    <li class="uk-inline"><a href="" class="uk-white uk-hidden">Facebook</a></li>
                    <li class="uk-inline uk-margin-medium-right"><a href="" class="uk-white">Instagram</a></li>
                    <li class="uk-inline"><a href="" class="uk-white">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>