<div class="uk-section main-bg" style="padding-top: 150px;padding-bottom:150px">
    <div class="uk-container uk-container-large">
        <div class="uk-grid uk-light">
            <div class="uk-width-1-2@s">
                <h2 class="uk-h1 uk-text-uppercase uk-text-italic" style="font-size: 4rem;">About<br> All the Smoke</h2>
            </div>
            <div class="uk-width-1-2@s uk-margin-large-top">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, repudiandae, accusamus architecto laborum, distinctio illum ullam dolor quas ratione iusto autem fuga harum nesciunt asperiores ducimus reiciendis exercitationem assumenda suscipit at officiis sed aliquam saepe reprehenderit. Ipsa, odit minus? Vero voluptate corrupti corporis quaerat fugit hic fuga labore saepe dolore.</p>
            </div>
        </div>
    </div>
</div>