<div class="uk-section main-bg">
    <div class="uk-container uk-container-large uk-light" uk-scrollspy="cls:uk-animation-slide-bottom-medium">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-uppercase uk-text-italic" style="font-size: 4rem;">Connect with us</h2>
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636442878/melanie-tran/smoke-covering-face.jpg" alt="">
                <div class="uk-column-1-2 uk-margin-medium-top">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis adipisci culpa, aliquam nam consequuntur ad voluptas expedita numquam assumenda minima!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium sunt consequuntur error obcaecati amet!</p>
                </div>
            </div>
            <div class="uk-width-expand">
                <ul class="uk-list hr__links">
                    <li><a href="">Our Snapchat <span uk-icon="icon: arrow-right;ratio: 2" class="uk-margin-medium-left"></span></a></li>
                    <li><a href="">Follow our Instagram <span uk-icon="icon: arrow-right;ratio: 2" class="uk-margin-medium-left"></span></a></li>
                    <li><a href="">Telegram Menu <span uk-icon="icon: arrow-right;ratio: 2" class="uk-margin-medium-left"></span></a></li>
                    <li><a href="">Telegram Live <span uk-icon="icon: arrow-right;ratio: 2" class="uk-margin-medium-left"></span></a></li>
                    <li><a href="">Direct Message <span uk-icon="icon: arrow-right;ratio: 2" class="uk-margin-medium-left"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>