
    <div class="uk-section bg">
        <div class="uk-section uk-light">
            <div class="uk-container uk-container" uk-scrollspy="cls:uk-animation-slide-bottom-small">
                <div class="uk-child-width-1-2@s" uk-grid>
                    <div>
                        <h2 class="uk-heading-medium">Apparel</h2>
                    </div>
                    <div>
                        <p class="uk-text-large">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, deserunt. Voluptate cupiditate eum iure, natus aspernatur quisquam perspiciatis dignissimos quis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-container uk-container" uk-scrollspy="cls:uk-animation-slide-bottom-small">
            <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1" uk-slider>

                <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-4@m uk-grid uk-grid-match apparel__slide">
                    {{ range where .Site.RegularPages "Type" "apparels" }}
                    <li>
                        <a href="{{ .Permalink }}" class="uk-link-reset">
                            <div>
                                <div class="uk-card uk-card-default uk-text-center">
                                    <div class="uk-card-media-top uk-cover-container uk-padding">
                                        <img src="{{ index .Params.gallery 0 }}" alt="" uk-cover>
                                        <canvas height="350"></canvas>
                                    </div>
                                    <div class="uk-card-body" style="padding:40px 5px">
                                        <div class="uk-grid uk-child-width-1-1">
                                            <div>
                                                <h3 class="uk-dark uk-h4">{{ .Title }}</h3>
                                            </div>
                                            <div>
                                                <span>{{ .Params.price }}</span>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            
            </div>

        </div>
    </div>
